iframe {
  align-self: center;
  width: 90vw;
}

.details-container {
  background: linear-gradient(to top, #e26a2c, #27282d,
  #27282d, #27282d, #27282d, #27282d, #27282d, #27282d, #27282d, #27282d);
  color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.details-infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Sanchez , serif;
  font-size: 4.5vw;
}

.details-recipe-title {
  border-bottom: 2px solid #e26a2c;
  font-family: Sanchez , serif;
  font-size: 7vw;
  margin: 0 auto;
  margin-bottom: 15px;
  width: fit-content;
}

.details-alcoholic {
  font-family: Sanchez , serif;
  font-size: 5vw;
  text-align: center;
}

.recipe-category {
  border-bottom: 12px dotted white;
  padding: 3px 0;
  margin-bottom: 25px;
}

.in-progress-category {
  font-family: Sanchez , serif;
  font-size: 5.5vw;
  text-align: center;
}

.instructions {
  width: 90vw;
}


.details-start-recipe {
  align-self: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  margin: 0;
  position: fixed;
  width: 100vw;
}

.details-image {
  align-self: center;
  border-radius: 20px;
  height: 35vh;
  margin: 20px;
  width: 80vw;
}
