.drinks-recipes-section {
  background: linear-gradient(to top, #e26a2c, #27282d,
  #27282d, #27282d, #27282d, #27282d, #27282d, #27282d, #27282d, #27282d);
}

.drinks-recipes-container {
  align-items: flex-start;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: 75vh;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  overflow-y: auto;
}

.header-and-categories-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100vw;
}
