.loading-container {
  align-items: center;
  background-color: #d65210;
  display: flex;
  height: 100vh;
}

.loading-gif {
  border-radius: 100vh;
  display: flex;
  width: 55vh;
}

.food-recipes-container {
  align-items: center;
  background-color: #eee9e5;
  background-size: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  font-family: Sanchez , serif;
  justify-content: center;
  margin-bottom: 20px;
}

.categories-container button {
  background-color: #fda65d;
  margin-left: 10px;
}

.categories-container button:hover {
  background-color: #e26a2c;
}
