button {
  background-color: #ff7b00;
  border: none;
  border-radius: 18px;
  margin: 5px 2.5px;
  outline: none;
  padding: 10px;
  transition: all ease 0.5s;
}

button:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  outline: none;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;
}

.header-container-expanded {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all ease 0.5s;
  width: 100%;
}

.header-explore {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 25px;
  width: 100%;
}

.page-title {
  font-family: Sanchez , serif;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}

.search-input {
  border: 1px solid grey;
  border-radius: 18px;
  height: 50px;
  margin-top: 7px;
  width: 97%;
}

.search-input:hover {
  border: 2px solid #e26a2c;
  border-radius: 18px;
  outline: none;
}

.filter-options {
  display: flex;
  font-family: Sanchez , serif;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

.filter-options label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

.filter-options input {
  margin-right: 5px;
}

.search-button {
  background-color: #e26a2c;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}
