.recipe-card {
  align-items: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column-reverse;
  margin: 25px auto;
  max-width: 280px;
  transition: all ease 0.6s;
}

.recipe-card:hover {
  transform: translateY(-20px);
}

.recipe-image {
  border-radius: 15px 15px 0 0;
  width: 280px;
}

.recipe-title {
  color: orange;
  text-align: center;
}

a:hover {
  text-decoration: none;
}
